<!-- views/addUser.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/stylesheets/style.css">


</head>
<body>
    <div class="main">
      <div class="container">
        <a href="/" class="link">Back to Home Page</a>
        <h1>Add User</h1>
        <form action="/add_user" method="post" onsubmit="return validateForm()">
            <div class="input_box">
                <label for="name">Name:</label>
                <input class="input" type="text" id="name" name="name" placeholder="Enter Your Name" required>
            </div>
            <div class="input_box">
                <label for="email">Email:</label>
                <input class="input" type="email" id="email" name="email" placeholder="Enter Your Email" required>
            </div>
            <div class="input_box">
                <label for="phone">Phone:</label>
                <input class="input" type="text" id="phone" name="phone" placeholder="Enter Your Phone No" required>
            </div>
            <div class="btn">
                    <button class="button" type="submit">Add Task</button>
            </div>
        </form>
      </div>
    </div>

    
    <script>
        function validateForm() {
            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;
            var mobile = document.getElementById('phone').value;
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            var mobileRegex = /^[0-9]{10}$/;

            if (name.trim() === '') {
                alert('Please enter a name.');
                return false;
            }

            if (!emailRegex.test(email)) {
                alert('Please enter a valid email address.');
                return false;
            }

            if (!mobileRegex.test(mobile)) {
                alert('Please enter a valid 10-digit mobile number.');
                return false;
            }

            return true;
        }
    </script>
</body>
</html>
