<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <a href="/add_task" class="button">Add Task</a>
            <a href="/add_user" class="button">Add User</a>
            <a href="/export_excel" class="button">Get Excel Sheet</a>
        </div>
    </div>
</body>
</html>
